[default]
force_valid_group_names = ignore
gathering = smart
display_skipped_hosts = False
deprecation_warnings = False
host_key_checking = False
fact_caching = jsonfile
fact_caching_connection = /tmp
fact_caching_timeout = 7200
forks = 8
inventory_ignore_extensions = ~, .orig, .bak, .ini, .cfg, .retry, .pyc, .pyo, .creds, .gpg

library = ./library/:3d/kubespray/library/
roles_path = ./roles/:3d/kubespray/roles/

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null

[inventory]
ignore_patterns = artifacts, credentials
