[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=4.8"
ansible-core = "~=2.11"
cryptography = "~=2.8"
jinja2 = "~=2.11"
netaddr = "~=0.7"
pbr = "~=5.4"
jmespath = "~=0.9"
"ruamel.yaml" = "~=0.16"
"ruamel.yaml.clib" = "~=0.2"
MarkupSafe = "~=1.1"
kubernetes = "~=21.7"
docker = ">=5.0.0"
ansible-navigator = "~=1.1"

[dev-packages]
ansible-navigator = "~=1.1"
ansible-lint = "~=5.3"

[requires]
python_version = "3"
