---
apiVersion: v1
kind: Secret
metadata:
  namespace: "{{ k8s_le__namespace }}"
  name: cloudflare-api-secret
  labels:
    app: letsencrypt-cloudflare
type: Opaque
data:
  api-token: "{{ k8s_le__cloudflare_api_token | string | b64encode }}"
