---
apiVersion: v1
kind: Secret
metadata:
  namespace: "{{ k8s_duckdns__namespace }}"
  name: duckdns-secret
  labels:
    app: duckdns
type: Opaque
data:
  DUCKDNS_TOKEN: "{{ k8s_duckdns__token | string | b64encode }}"
  DUCKDNS_DOMAIN: "{{ k8s_duckdns__domain | string | b64encode }}"
