---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: "{{ k8s_duckdns__namespace }}"
  name: duckdns-script
  labels:
    app: duckdns
data:
  sync.sh: |
    {{ lookup('file', role_path + '/files/sync.sh') | indent(4) }}
