---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: "{{ k8s_postgresql_namespace }}"
  name: postgresql-backup-script
data:
  backup.sh: |-
    {{ lookup('file', role_path + '/files/backup.sh') | indent(4) }}
