---
apiVersion: v1
kind: CronJob
metadata:
  namespace: "{{ k8s_postgresql_namespace }}"
  name: postgresql-backup
spec:
  schedule: "{{ k8s_postgresql_dump_schedule }}"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 2
      completions: 1
      parallelism: 1
      template:
        spec:
          restartPolicy: OnFailure
          volumes:
            - name: src
              configMap:
                name: postgresql-backup-script
            - name: temp
              persistentVolumeClaim:
                claimName: postgresql-backup-temp
                readOnly: false
            - name: target
              persistentVolumeClaim:
                claimName: postgresql-backup-target
                readOnly: false
          containers:
            - name: main
              image: "{{ __image }}"
              imagePullPolicy: IfNotPresent
              command:
                - /bin/bash
                - /src/backup.sh
              env:
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: postgresql
                      key: postgres-password
                - name: PGHOST
                  value: postgresql.{{ k8s_postgresql_namespace }}.svc
                - name: PGPORT
                  value: "5432"
                - name: PGUSER
                  value: postgres
                - name: BACKUP_TEMP_PATH
                  value: /data/temp
                - name: BACKUP_TARGET_PATH
                  value: /data/target
              volumeMounts:
                - name: src
                  mountPath: /src
                  readOnly: true
                - name: temp
                  mountPath: /data/temp
                - name: target
                  mountPath: /data/target

